.before_foot div{
width: 100%!important;
}

.before_foot div:first-child{
    background-color: #00224f;  
    color : white;;
    margin: 10px auto;
    width: max-content;
    text-align: center;
    color: white;
    padding: 30px;
    margin-bottom: 0%;  
}

.before_foot div:last-child{
    background-color: #003580;
    padding: 10px 0;
}

.before_foot ul{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0px auto;
    padding: 15px 0;
    
}

.before_foot a{
    color: white;
}