.head{
   background-color: #003580;
   width: 80%;
   margin: 0 auto; 
   margin-bottom: 30px!important;
   color : white;
}

.head p:first-child{
   font-size: 3em;
}

.head p:last-child{
   font-size: 1.3em;
   padding-top: 10px;
   padding-bottom: 60px;
}