.navbar{
    padding-top: 30px;
    height: 170px;
    background-color:   #003580;  /* #0071c2  #004cb8;  */
    color : white;
}

.navbar div:first-child{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 25px auto;
    
}

.navbar p button{
    padding: 0.5em 1em;
    color : blue
}

.navbar a{
    color : white;
}

.navbar p a, .navbar p button:last-child{
    margin-right: 20px;
    text-decoration: none;
}

.navbar div:last-child ul{
    width: 80%;
    display: flex;
    justify-content: space-between;
/*    margin-left: 30px;*/
    margin: 0% auto;
}

.navbar div:last-child ul li{
    list-style-type: none;
    padding: 10px 20px;
    justify-content: center;
}

.navbar div:last-child ul li:hover{
    border: 2px solid white;
    border-radius: 10px;
}

.navbar p a{
    color: white;
}