.navbar{
    padding-top: 30px;
    height: 170px;
    background-color:   #003580;  /* #0071c2  #004cb8;  */
    color : white;
}

.navbar div:first-child{
    
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 25px auto;  
}

.navbar .nationalite img{
    border: .3px whitesmoke solid;
    border-radius: 42px/40px;
}

.navbar div:first-child p{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar p button{
    padding: 0.5em 1em;
    color : blue
}

.navbar ul li a{
    color : white;
    text-decoration: none;
}

.navbar p a, .navbar p button:last-child{
    margin-right: 20px;
    text-decoration: none;
}

.navbar div:last-child ul{
    width: 60%;
    display: flex;
    justify-content: space-between;
/*    margin-left: 30px;*/
    margin: 0% auto;
    margin-left: 115px!important;
}

.navbar div:last-child ul li{
    list-style-type: none;
    padding: 10px 20px;
    justify-content: center;
}

.navbar div:last-child ul .lien_actif{
    border: .8px solid whitesmoke;
    border-radius: 30px;
}

.navbar p a{
    color: white;
}